@import "tailwindcss";

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "AirbnbCereal_W_Bd";
  src: url("../../public/fonts/AirbnbCereal_W_Bd.otf") format("opentype");
}

:root {
  --background: #1f2432;
  --foreground: #ffffff;

  --card-background: #2f3646;

  --screen-horizontal-margin: clamp(1rem, 5vw, 4rem);
  --screen-vertical-margin: 0;

  --text-link-color: #1c86ee;
  --text-link-hover-color: rgb(77, 156, 235);

  --padding-tiny: 0.25rem;
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 2rem;
  --padding-huge: 4rem;

  --margin-tiny: 0.25rem;
  --margin-small: 0.5rem;
  --margin-medium: 1rem;
  --margin-large: 2rem;
  --margin-huge: 4rem;

  --border-radius-tiny: 0.25rem;
  --border-radius-small: 0.5rem;
  --border-radius-medium: 1rem;
  --border-radius-large: 2rem;
  --border-radius-huge: 4rem;

  --font-size-tiny: clamp(0.7rem, 1vw, 0.8rem);
  --font-size-small: clamp(0.8rem, 1.2vw, 0.9rem);
  --font-size-medium: clamp(1rem, 2vw, 1.125rem);
  --font-size-large: clamp(1.25rem, 2.5vw, 1.5rem);
  --font-size-huge: clamp(1.75rem, 4vw, 2rem);

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --transition-fast: 0.2s ease-in-out;
  --transition-medium: 0.4s ease-in-out;
  --transition-slow: 0.8s ease-in-out;

  --box-shadow-default: 0 4px 12px rgba(0, 0, 0, 0.2);
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat-Regular", sans-serif;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  min-height: 100vh;
}

main {
  min-height: 100vh;
  padding: var(--padding-medium);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

@media (max-width: 768px) {
  main {
    padding-bottom: 4.5rem;
  }
}

button {
  text-decoration: none;
  margin: var(--margin-tiny) 0;
}

button:hover {
  cursor: pointer;
}

label {
  color: var(--foreground);
}

input,
textarea,
select {
  background: #293040;
  color: var(--foreground);
  width: 100%;
  padding: var(--padding-tiny) var(--padding-small);
  border-radius: var(--border-radius-small);
  border: 2px solid #7b8191;
  ::placeholder {
    color: #a0aec0;
    opacity: 1;
  }
}
